* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.calc {
  width: 400px;
  background-color: black;
  font-size: 4em;
  font-family: "Times New Roman", Times, serif;
}

.screen {
  width: 100%;
  color: white;
  text-align: right;
  padding: 5px;
}

.button-row {
  display: flex;
  width: 100%;
  align-content: stretch;
  justify-content: space-between;
}

button {
  width: 25%;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.calc-buttons {
  background-color: grey;
  margin: 1px 1px 0 0;
}

.calc-buttons:last-child {
  background-color: orange;
  margin: 1px 0 0 1px;
}

.calc-buttons:hover {
  background-color: lightgray;
}

.calc-buttons:last-child:hover {
  background-color: rgb(252, 181, 49);
}

.calc-buttons:active {
  background-color: darkgray;
}

.calc-buttons:last-child:active {
  background-color: darkorange;
}

.double {
  width: 50.1%;
}

.triple {
  width: 75.1%;
}
